.settings-drawer-open .fab-button-bottom-right {
    position: fixed;
    right: 270px;
    bottom: 30px;
}

.fab-button-bottom-right {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.mudblazor-appbar-band {
    background-image: url(/img/AppbarCorner.svg);
    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;
}

.small-power-chart {
    
}

    .small-power-chart .mud-charts-yaxis {
        display: none;
    }

    .small-power-chart .mud-charts-xaxis {
        display: none;
    }

    .small-power-chart .mud-charts-grid {
        display: none;
    }

    .small-power-chart .mud-chart-line {
        stroke-width: 10;
    }
